{% extends "base.html" %}

{% block question_content %}
<div id='consent'>
    {% include "consent.html" %}

    <label class="radio">
        <input type="radio" name="consentRadio" id="consentRadioAccept" value="consentAccept">
        Yes
    </label>
    <label class="radio">
        <input type="radio" name="consentRadio" id="consentRadioReject" value="consentReject">
        No
    </label>
    <button class="btn" type="button" onclick="fromConsent();">Next</button>
</div>

<div id='task' style="display:none;">
    <div id='instructions'>
        <p>This is a <i>brainstorming</i> task. There are a few rules for brainstorming:</p>
        <ol>
            <li>There are no bad ideas. Don't criticise your choices.</li>
            <li>Wild ideas and building off of old ideas are okay.</li>
            <li>Quantity of ideas is prioritized.</li>
            <li>Combinations of ideas count as new ideas.</li>
        </ol>
    </div>

    <div id='wait' class='description' style="display:block;">
        <p>Please wait while we generate a brainstorming question...</p>
    </div>

    <div id='question' class='description' style="display:none;">
    </div>
    <input type="hidden" id="problem" name="problem" value="None" />
    <input type="hidden" id="job_id" name="job_id" value="None" />

    <div id='responses'>
        <ol id='responses_ol'>
        {% for index in range(num_responses) %}
            <li>
                <input type="text" class='response' name="brainstorm_response" placeholder="Idea here...">
                <input type="hidden" name="brainstorm_response_start">
                <input type="hidden" name="brainstorm_response_end">
            </li>
        {% endfor %}
        </ol>
    </div>

    <p>Optional: any additional ideas. Please put one per line.</p>
    <p><textarea cols="40" rows="15" name="extra"></textarea></p>

    <button class="btn" type="button" onclick="fromTask();">Next</button>
</div>

<div id='feedback' style="display:none;">
    {% include "feedback.html" %}

    <p>If you have any comments regarding this HIT, or found the instructions hard to understand, please let us know in the box below. We will use this information to improve the task in the future.</p>
    <textarea class='input-xxlarge' name='feedback  ' id='feedback' rows="5"></textarea>
    <input class='btn btn-primary' type='submit' id='submitButton' />
</div>
{% endblock %}

{% block postjavascript %}
{{ super() }}
<script language='Javascript'>

    job_id = null;
    ready_to_submit = false;
    okay = true;

    idea_html = '<li> \
                    <input type="text" name="brainstorm_response" placeholder="Idea here..."> \
                    <input type="hidden" name="brainstorm_response_start"> \
                    <input type="hidden" name="brainstorm_response_end"> \
                </li>'

    function get_question(data, textStatus, jqXHR) {
        console.log("get succeeded");
        console.log(data);

        job_id = data["job_id"]
        console.log("Job ID")
        console.log(job_id)
        question = data["payload"]["question"]
        console.log(question)

        // Change the HIT
        $('#question').html(question);
        $('#job_id').val(job_id);
        $('#problem').val(question);
        $('#wait').css('display', 'none');
        $('#question').css('display', 'block');
    }

    function get_question_err(jqXHR, textStatus, errorThrown ) {
        console.log("Error status");
        console.log(textStatus)

        var backups= new Array();
        {% for backup in backup_problems %}
        backups.push("{{ backup |safe}}");
        {% endfor %}

        index = Math.floor(Math.random() * backups.length);
        question = backups[index];

        // Change the HIT
        $('#question').html(question);
        $('#problem').val(question);
        $('#wait').css('display', 'none');
        $('#question').css('display', 'block');

        okay = false;
    }

    function focus_function() {
        str = $(this).next('input[name="brainstorm_response_start"]');
        if(str.val() == "") {
            str.val(new Date().getTime());
        }
    }

    function blur_function() {
        end = $(this).siblings('input[name="brainstorm_response_end"]').val(new Date().getTime());
    }

    // Randomize the task
    $(document).ready(function() {
        // Check if they have accepted or previewed
        console.log("Submit button val");
        console.log($('#submitButton').val());

        // TODO: this test should be on the assignment variable
        if($('#submitButton').val().indexOf("You must ACCEPT the HIT") == -1) {
            // Get a brainstorming question from server
            if(okay) {
                $.ajax ({
                    url: "http://{{ admin_url }}/get",
                    type: "POST",
                    data: JSON.stringify({administrator_id:"{{ admin_id }}"}),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: get_question,
                    error: get_question_err,
                });
            }
        } else {
            $('#wait').text("(If you accept the HIT, your question will appear here)");
        }

        $('#mturk_form').submit(function() {
            console.log(ready_to_submit);
            if(ready_to_submit) {
                $.ajax ({
                    url: "http://{{ admin_url }}/confirm",
                    type: "POST",
                    data: JSON.stringify({administrator_id:"{{ admin_id }}",
                                          job_id: job_id}),
                    contentType: "application/json; charset=utf-8",
                    async: false,
                });
            }
            return ready_to_submit;
        });

        // Record first focus gain time
        $('input[name="brainstorm_response"]').focus(focus_function);

        // Record last focus loss time
        $('input[name="brainstorm_response"]').blur(blur_function);

        // Allow appending
        {% if append_ideas is defined %}
            $('#responses_ol').on('focus', 'li:last-child input[name="brainstorm_response"]', function() {
                console.log("last");
                new_response = $(idea_html);
                new_response.children().focus(focus_function);
                new_response.children().blur(blur_function);
                $('#responses_ol').append(new_response);
            });
        {% endif %}
    });

    // progress through pages
    function fromConsent() {
        c = $('input[name=consentRadio]:checked', '#mturk_form').val();
        $('#consent').css('display', 'none');
        if(c == 'consentAccept') {
            $('#task').css('display', 'block');
        } else {
            $('#feedback').css('display', 'block');
            ready_to_submit = true;
        }
    }

    function fromTask() {
        $('#task').css('display', 'none');
        $('#feedback').css('display', 'block');
        ready_to_submit = true;
    }
</script>
{% endblock %}
