{% extends "base.html" %}

{% block question_content %}
<div id='consent'>
    {% include "consent.html" %}

    <label class="radio">
        <input type="radio" name="consentRadio" id="consentRadioAccept" value="consentAccept">
        Yes
    </label>
    <label class="radio">
        <input type="radio" name="consentRadio" id="consentRadioReject" value="consentReject">
        No
    </label>
    <button class="btn" type="button" onclick="fromConsent();">Next</button>
</div>

<div id='task' style="display:none;">
    <div id='instructions'>
        <p>This is a <i>brainstorming</i> task. There are a few rules for brainstorming:</p>
        <ol>
            <li>There are no bad ideas. Don't criticise your choices.</li>
            <li>Wild ideas and building off of old ideas are okay.</li>
            <li>Quantity of ideas is prioritized.</li>
            <li>Combinations of ideas count as new ideas.</li>
        </ol>
    </div>

    <div id='wait' class='description' style="display:block;">
        <p>Please wait while we generate a brainstorming question...</p>
    </div>

    <div id='question' class='description' style="display:none;">
        <p id='question_text'></p>
    </div>
    <input type="hidden" id="problem" name="problem" value="None" />

    <div id='responses'>
        <ol>
        {% for index in range(num_responses) %}
            <li>     
                <input type="text" name="brainstorm_response" placeholder="Idea here...">
            </li>
        {% endfor %}
        </ol>
    </div>

    <button class="btn" type="button" onclick="fromTask();">Next</button>
</div>

<div id='feedback' style="display:none;">
    {% include "feedback.html" %}

    <p>If you have any comments regarding this HIT, or found the instructions hard to understand, please let us know in the box below. We will use this information to improve the task in the future.</p>
    <textarea class='input-xxlarge' name='feedback' id='feedback' rows="5"></textarea>
    <input class='btn btn-primary' type='submit' id='submitButton' />
</div>
{% endblock %}

{% block postjavascript %}
{{ super() }}
<script language='Javascript'>

    job_id = null;

    function get_question(data, textStatus, jqXHR) {
        console.log("get succeeded");
        console.log(data);

        job_id = data["job_id"]
        console.log("Job ID")
        console.log(job_id)
        question = data["payload"]["question"]
        console.log(question)

        // Change the HIT
        $('#question_text').text(question);
        $('#problem').val(question);
        $('#wait').css('display', 'none');
        $('#question').css('display', 'block');
    }

    function get_question_err(jqXHR, textStatus, errorThrown ) {
        console.log("Error status");
        console.log(textStatus)

        // Change the message
        $('#wait').text("Error getting a question. Please proceed to end of HIT.");
        $('#problem').val(errorThrown);
        // Hide the input boxes
        $('#responses').css('display', 'none');
    }

    // Randomize the task
    $(document).ready(function() {
        // Check if they have accepted or previewed
        console.log("Submit button val");
        console.log($('#submitButton').val());

        // TODO: this test should be on the assignment variable
        if($('#submitButton').val().indexOf("You must ACCEPT the HIT") == -1) {
            // Get a brainstorming question from server
            $.ajax ({
                url: "http://{{ admin_url }}/get",
                type: "POST",
                data: JSON.stringify({administrator_id:"{{ admin_id }}"}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: get_question,
                error: get_question_err,
            });
        } else {
            $('#wait').text("(If you accept the HIT, your question will appear here)");
        }

        $('#mturk_form').submit(function() {
            $.ajax ({
                url: "http://{{ admin_url }}/confirm",
                type: "POST",
                data: JSON.stringify({administrator_id:"{{ admin_id }}",
                                      job_id: job_id}),
                contentType: "application/json; charset=utf-8",
                async: false,
            });
            return true;
        });
    });

    // progress through pages
    function fromConsent() {
        c = $('input[name=consentRadio]:checked', '#mturk_form').val();
        $('#consent').css('display', 'none');
        if(c == 'consentAccept') {
            $('#task').css('display', 'block');
        } else {
            $('#feedback').css('display', 'block');
        }
    }

    function fromTask() {
        $('#task').css('display', 'none');
        $('#feedback').css('display', 'block');
    }
</script>
{% endblock %}
