<p>In this task, you will be asked to come up with {{ num_responses }} ideas for a classic brainstorming problem.<p>

<p>This HIT has been generated as part of a study being conducted by Filip Krynicki at the Human-Computer Interaction Lab in the University of Waterloo Cheriton School of Computer Science. Filip is supervised by Dr. Michael Terry.</p>

<p>The aim of this study is to attempt to model the population of ideas for a brainstorming problem.</p>

<p>You may decline to answer any questions that you do not wish to answer and you can withdraw your participation at any time by ceasing to answer questions, without penalty or loss of remuneration. To receive remuneration please proceed to the end of the questionnaire and submit the HIT.</p>

<p>This study has received clearance from the Office of Research Ethics at the University of Waterloo. We predict no potential negative or positive consequences as a result of participation. All data will be anonymized and kept in electronic form in a safe location for up to eight years, at which point all data will be erased.</p>

<p>If you have any further questions, please feel free to email Filip: fil.krynicki@uwaterloo.ca</p>

<p>Thank you for participating in this study.</p>

<p>With full knowledge of all foregoing, I agree, of my own free will, to participate in this study.</p>
