{% if append_ideas is defined %}
	<p>In this task, you will be asked to come up with as many ideas as you can for a classic brainstorming problem.</p>
{% else %}
	<p>In this task, you will be asked to come up with {{ num_responses }} ideas for a classic brainstorming problem.<p>
{% endif %}

<p>This HIT has been generated as part of a study being conducted by Filip Krynicki at the Human-Computer Interaction Lab in the University of Waterloo Cheriton School of Computer Science. Filip is supervised by Dr. Michael Terry.</p>

<p>The aim of this study is to attempt to model the population of ideas for a brainstorming problem.</p>

<p>You may decline to answer any questions that you do not wish to answer and you can withdraw your participation at any time by ceasing to answer questions, without penalty or loss of remuneration. To receive remuneration please proceed to the end of the questionnaire and submit the HIT.</p>

<p>This study has received ethics clearance from the Office of Research Ethics at the University of Waterloo (phone: (519) 888-4567 x 36005, email: maureen.nummelin@uwaterloo.ca). We predict no potential negative or positive consequences as a result of participation. All data submitted will be made publicly available. However, we will not associate your Mechanical Turk ID with the data you submit.</p>

<p>If you have any further questions, please feel free to email Filip: <a href="mailto:fil.krynicki@uwaterloo.ca"><b>fil.krynicki@uwaterloo.ca</b></a></p>

<p>Thank you for participating in this study.</p>

<p>With full knowledge of all foregoing, I agree, of my own free will, to participate in this study.</p>
